<?xml version="1.0" encoding="UTF-8"?>

<launch>

    <!--- Sim Time -->
    <param name="/use_sim_time" value="true" />

    <node pkg="rosbag" type="play" name="rosbag_play" output="screen"
           args=" --clock -r 1.0 -l


        /home/cesarrg/bagfiles/vessel_sample2.bag">

    </node>


</launch>
